
<div *ngIf="version">
    <h2><span jhiTranslate="deliveryToolsApp.version.detail.title">Version</span> {{version.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="deliveryToolsApp.version.number">Number</span></dt>
        <dd>
            <span>{{version.number}}</span>
        </dd>
        <dt><span jhiTranslate="deliveryToolsApp.version.application">Application</span></dt>
        <dd>
            <div *ngIf="version.application">
                <a [routerLink]="['/application', version.application?.name]">{{version.application?.name}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'version/'+ version.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
