<div>
    <h2>
        <span jhiTranslate="deliveryToolsApp.userDelivery.home.title">User Deliveries</span>
        <button class="btn btn-primary float-right create-user-delivery" [routerLink]="['/', { outlets: { popup: ['user-delivery-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="deliveryToolsApp.userDelivery.home.createLabel">
            Create new User Delivery
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="userDeliveries">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="deliveryToolsApp.userDelivery.name">Name</span></th>
            <th><span jhiTranslate="deliveryToolsApp.userDelivery.type">Type</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let userDelivery of userDeliveries ;trackBy: trackId">
                <td><a [routerLink]="['../user-delivery', userDelivery.id ]">{{userDelivery.id}}</a></td>
                <td>{{userDelivery.name}}</td>
                <td jhiTranslate="{{'deliveryToolsApp.UserDeliveryType.' + userDelivery.type}}">{{userDelivery.type}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../user-delivery', userDelivery.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'user-delivery/'+ userDelivery.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'user-delivery/'+ userDelivery.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
