<div>
    <h2>
        <span jhiTranslate="deliveryToolsApp.testYourApp.home.title">Test Your Apps</span>
        <button class="btn btn-primary float-right create-test-your-app" [routerLink]="['/', { outlets: { popup: ['test-your-app-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="deliveryToolsApp.testYourApp.home.createLabel">
            Create new Test Your App
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="testYourApps">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="deliveryToolsApp.testYourApp.link">Link</span></th>
            <th><span jhiTranslate="deliveryToolsApp.testYourApp.application">Application</span></th>
            <th><span jhiTranslate="deliveryToolsApp.testYourApp.plateform">Plateform</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let testYourApp of testYourApps ;trackBy: trackId">
                <td><a [routerLink]="['../test-your-app', testYourApp.id ]">{{testYourApp.id}}</a></td>
                <td>{{testYourApp.link}}</td>
                <td>
                    <div *ngIf="testYourApp.application">
                        <a [routerLink]="['../application', testYourApp.application?.id ]" >{{testYourApp.application?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="testYourApp.plateform">
                        <a [routerLink]="['../plateform', testYourApp.plateform?.id ]" >{{testYourApp.plateform?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../test-your-app', testYourApp.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'test-your-app/'+ testYourApp.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'test-your-app/'+ testYourApp.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
